@media screen and (min-width: 961px) {
  .feed {
    width: 60%;
  }
  .menu,
  .footer,
  .caroussel {
    width: 20%;
  }
  .caroussel {
    flex-direction: column;
    float: right;
    overflow-y: inherit;
    margin: 0px;
  }
}
