@media screen and (min-width: 961px) {
  .navbar {
    background-color: #e58080;
  }
  .feed {
    width: 60%;
  }
  .menu,
  .footer,
  .caroussel {
    width: 20%;
  }
  .boutton-menu img {
    width: 60px;
    height: 60px;
    margin: 5px;
    padding: 5px;
  }
  .caroussel {
    flex-direction: column;
    float: right;
    overflow-y: inherit;
    margin: 0px;
  }
}
