@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  header {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .caroussel {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
  }
  .navbar {
    background-color: #e9bebe;
  }
  #search {
    display: block;
  }
  .boutton-menu img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 5px;
    padding: 5px;
  }
  .boutton-menu label {
    display: none;
  }
  .titrepagelarge {
    display: flex;
  }
  .titrepagesmall {
    display: none;
  }
  .feed {
    display: block;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: span 3;
    height: 1000px;
  }
  .menu {
    display: block;
    background-color: white;
    margin: 10px;
  }
  .menu a,
  .menu p {
    color: black;
  }
  .section-menu {
    display: block;
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .foot,
  .menu li:last-child {
    display: none;
  }
  footer {
    display: block;
    grid-column-start: 1;
    grid-row-start: 4;
  }
  /*Style Contact page*/

  .presentation .contact {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: span 2;
  }

  .rejoindre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .rejoindre p {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .rejoindre a {
    width: 50%;
    text-align: center;
  }
}
