@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
  }
  .navbar {
    background-color: lightgreen;
  }
  #search {
    display: block;
  }
  .boutton-menu img {
    display: block;
  }
  .boutton-menu label {
    display: none;
  }

  .feed {
    display: block;
    width: 60%;
  }
  .menu {
    display: block;
  }
  .section-menu {
    display: block;
    width: 30%;
    padding: 10px;
  }
  .foot {
    display: none;
  }
  footer {
    display: block;
  }
}
