* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.recherche-box {
  display: flex;
  align-items: center;
  background-color: #523f3f;
  border-radius: 40px;
  height: 40px;
  right: 61px;
  padding: 30px;
  /*position: absolute;
  top: 33px;*/
  /*transform: translate(-50%, -50%);*/
}

.recherche-btn {
  align-items: center;
  background: #523f3f;
  border-radius: 50%;
  color: #bdbdbd;
  display: flex;
  float: right;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  transition: 0.4s;
  width: 0px;
}

.recherche-txt {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  float: left;
  line-height: 40px;
  outline: none;
  padding: 0;
  transition: 0.4s;
  width: 0px;
}

.recherche-box:hover > .recherche-txt {
  padding: 0 6px;
  width: 100px;
}
.recherche-box:hover > .recherche-btn {
  background: #fff;
  color: #333;
}
i {
  font-size: 2em;
}
/*style navbar*/
.navbar {
  display: flex;
  background-color: black;
  opacity: 0.9;
  color: white;
  height: 100px;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 12px 6px rgba(0, 0, 0, 0.39);
}
.boutton-menu .burger {
  display: block;
  width: 50px;
  filter: invert(100%);
}
.boutton-menu img {
  display: none;
}
.titrepagelarge {
  display: none;
}
.recherche-profil {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.avatar {
  width: 60px;
  margin-left: 30px;
  border-radius: 40px;
}
/*style navbar*/
/*style caroussel*/
.caroussel {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  box-shadow: 0px 10px 12px 6px rgba(0, 0, 0, 0.39);
}
.widget {
  margin-left: 0;
  margin-right: 10px;
}
.widgetcomment {
  text-align: center;
  color: white;
}
/*style caroussel*/
.fil {
  color: white;
}
/*Style feed*/
.feed {
  background-color: black;
  margin-right: 5px;
  width: 100%;
  height: 800px;
  display: flex;
  scroll-behavior: auto;
  overflow-y: scroll;
  overflow-x: unset;
  flex-direction: column;
  box-shadow: 0px 10px 12px 6px rgba(0, 0, 0, 0.39);
}
.headerart {
  margin: 0 20px 20px 20px;
  font-size: 15px;
  color: black;
  text-align: start;
}

.article_s3 {
  float: left;
  border: black;
  border: solid;
  height: auto;
  overflow: hidden;
  margin: 10px;
  background-color: white;
}
.article_s3:hover {
  background-color: lightgray;
}

.img_s3 {
  width: 100%;
}

.p_s3 {
  text-align: left;
}

.h2_s3 {
  margin: 20px 0 0 20px;
}
/*Style feed*/
/*point sensible*/
.menu {
  display: none;
}
#menu-box {
  display: none;
}
#menu-box:checked ~ ul.menu,
#menu-box:checked ~ * ul.menu {
  display: block;
  background-color: black;
  opacity: 0.9;
  position: absolute;
  top: 100px;
  width: 70%;
  padding: 20px;
  box-shadow: 0px 10px 12px 6px rgba(0, 0, 0, 0.39);
  border-bottom-right-radius: 40px;
  animation: checkbox-check 0.5s forwards;
}
@keyframes checkbox-check {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
footer {
  display: none;
  padding: 0;
}
/*point sensible*/

/*Style du menu*/

.grostitre {
  font-size: 1.6em;
  font-weight: bold;
}
.menu .sous-titre {
  padding-left: 100px;
}
.footer-flex-menu {
  margin-top: 50px;
}

.menu .sous-titre li {
  display: flex;
  justify-content: space-between;
}
.menu li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu a,
.menu p {
  text-decoration: none;
  color: white;
}
.menu .sous-titre a:hover,
.menu .foot a:hover,
.footer-flex-menu a:hover {
  font-size: 1.1em;
  font-weight: bold;
  transition: all 0.1s ease-out;
}
.flex-rejoindre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-rejoindre p {
  width: 100%;
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
}
.flex-rejoindre img {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
}
.flex-rejoindre img:hover {
  width: 50px;
  height: 50px;
  transition: all 0.1s ease-out;
}

/*Style Contact page*/

.hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;
}

.presentation-team {
  margin: 20px;
}

.contact {
  margin: 20px;
}

.form-container {
  margin: 20px;
}

.inputsize {
  width: 50%;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
}
