* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*style navbar*/
.navbar {
  display: flex;
  background-color: #ecd1d1;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.boutton-menu .burger {
  display: block;
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
}
.boutton-menu img {
  display: none;
}
.titrepagelarge {
  display: none;
}
.recherche-profil {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#search {
  display: none;
}
#search:target {
  display: block;
  height: 1.1em;
}

.avatar {
  width: 60px;
  height: 60px;
  margin: 5px;
  padding: 5px;
}
/*style navbar*/
/*style caroussel*/
.caroussel {
  border: solid black 2px;
  background-color: black;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}
.widget {
  margin-left: 0;
  margin-right: 10px;
}
.widgetcomment {
  text-align: center;
  color: white;
}
/*style caroussel*/
/*Style feed*/
.feed {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 800px;
  display: flex;
  scroll-behavior: auto;
  overflow-y: scroll;
  overflow-x: unset;
  border: 1cm;
  border: solid;
  color: black;
  flex-direction: column;
}
.feed div {
  background-color: lightgrey;
  height: 300px;
  margin: 5px;
}
.article_s3 {
  float: left;
  border: black;
  border: solid;
  height: 350px;
  overflow: hidden;
  margin: 10px;
  text-align: center;
}
.article_s3:hover {
  background-color: lightgray;
}

.img_s3 {
  margin-right: 10px;
  margin-left: 10px;
  float: left;
}

.p_s3 {
  text-align: left;
}

.h2s3 {
  text-align: center;
}
/*Style feed*/
/*point sensible*/
.menu {
  display: none;
}
#menu-box {
  display: none;
}
#menu-box:checked ~ ul.menu,
#menu-box:checked ~ * ul.menu {
  display: block;
  background-color: lightcoral;
  position: absolute;
  top: 50px;
  width: 50%;
  padding: 20px;
}
footer {
  display: none;
  padding: 0;
}
/*point sensible*/

/*Style du menu*/

#sous-titre-societe {
  display: none;
}
#sous-titre-societe:target {
  display: block;
}
#sous-titre-sport {
  display: none;
}
#sous-titre-sport:target {
  display: block;
}
#sous-titre-lifestyle {
  display: none;
}
#sous-titre-lifestyle:target {
  display: block;
}
#sous-titre-voyage {
  display: none;
}
#sous-titre-voyage:target {
  display: block;
}

.menu {
  padding: 0;
  margin: 0;
}
.menu .sous-titre {
  padding-left: 10px;
}

.menu .sous-titre li {
  display: flex;
  justify-content: space-between;
}
.menu li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  font-size: 1.1em;
  font-weight: bold;
}
/*Style Contact page*/

.hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;
}

.presentation-team {
  margin: 20px;
}

.contact {
  margin: 20px;
}

.form-container {
  margin: 20px;
}

.inputsize {
  width: 50%;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;

.recherche-box{
  border: red solid 1px;
  background-color: #523f3f;
  border-radius   : 40px;
  height          : 40px;
  right           : 61px;
  padding         : 30px;
  position        : absolute;
  top             : 33px;
  transform       : translate(-50%, -50%);
}

.recherche-btn{
  align-items    : center;
  background     : #523f3f;
  border-radius  : 50%;
  color          : #BDBDBD;
  display        : flex;
  float          : right;
  height         : 40px;
  justify-content: center;
  text-decoration: none;
  transition     : 0.4s;
  width          : 0px;
}

.recherche-txt{
  background : none;
  border     : none;
  color      : #fff;
  font-size  : 16px;
  float      : left;
  line-height: 40px;
  outline    : none;
  padding    : 0;
  transition : 0.4s;
  width      : 0px;
}

.recherche-box:hover > .recherche-txt{
  padding: 0 6px;
  width  : 100px;
}
.recherche-box:hover > .recherche-btn{
  background: #fff;
  color     : #333;
}
