/*Apparition des sous menu*/

#sous-titre-societe {
  display: none;
}
#sous-titre-societe:target {
  display: block;
}
#sous-titre-sport {
  display: none;
}
#sous-titre-sport:target {
  display: block;
}
#sous-titre-lifestyle {
  display: none;
}
#sous-titre-lifestyle:target {
  display: block;
}
#sous-titre-voyage {
  display: none;
}
#sous-titre-voyage:target {
  display: block;
}
<<<<<<< HEAD
.feed {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}


=======
/*Apparition des sous menu*/

.grostitre ul li {
  display: flex;
  justify-content: space-between;
}
.grostitre li {
  margin: 15px;
  list-style: none;
}
.grostitre a {
  text-decoration: none;
  color: black;
}
.grostitre a:hover {
  font-size: 1.2em;
  font-weight: bold;
}
.menu {
  background-color: coral;
  margin: 10px;
  padding: 10px;
}

/*footer*/
footer {
  background-color: lightgrey;
  margin: 10px;
  padding: 10px;
  font-size: 0.8em;
}
.liensFooter {
  list-style: none;
  margin: 10px;
  margin: 0;
  padding: 0;
}
.liensFooter a {
  text-decoration: none;
  color: black;
}
.liensFooter a:hover {
  font-weight: bold;
>>>>>>> d4444fba5ae37f5603f3c12e481c0ee71e4253e2
}
